<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Relatório</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div>
  <canvas id="myChart" ></canvas>
</div>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'pie',
        data: {
            datasets: [{
                label: '',
                data: [
                    {% for despesa in despesas %}
                        {{ despesa.valor }},
                    {% endfor %}
                ],
                borderWidth: 1,
            }],
        },
        options: {
               scales:{
                   y:{
                       beginAtZero: true
                   }
               }
        }
    });
</script>

<!--
 <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels:['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho'],
            datasets: [{
                label: '',
                data: [

                ],
                borderWidth: 1,
            }],
        },
        options: {
               scales:{
                   y:{
                       beginAtZero: true
                   }
               }
        }
    });
</script>
 -->

</body>
</html>